<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Các quyền cho camera và microphone -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Thêm tag <uses-feature> cho Camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Cung cấp quyền WRITE_EXTERNAL_STORAGE cho Android 9 (API 28) -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Quyen truy cap Internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Quyền đọc file từ bộ nhớ (Android 9 trở xuống) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> <!-- Quyền truy cập bộ nhớ ngoài (Android 10 trở lên) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TikTok"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">
<!--        <activity-->
<!--            android:name=".ItemVideoHomeScreen"-->
<!--            android:exported="false" />-->
        <activity android:name=".VideoPreviewActivity"
            android:exported="false"/>
        <activity
            android:name=".SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".ShareScreen"
            android:exported="false" />
        <activity
            android:name=".NotificationScreen"
            android:exported="false" />
        <activity
            android:name=".CameraScreen"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen"
            android:exported="false" />
        <activity
            android:name=".SearchScreen"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".CommentScreen"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".SendCode"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <receiver android:name=".DownloadCompleteReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>